Logging/Tests/Service References/LogService/LogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://log.deltaengine.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://log.deltaengine.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://log.deltaengine.net/">
      <s:element name="Log">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="messageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogSoapIn">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="LogSoapOut">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:portType name="LogServiceSoap">
    <wsdl:operation name="Log">
      <wsdl:input message="tns:LogSoapIn" />
      <wsdl:output message="tns:LogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LogServiceSoap" type="tns:LogServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://log.deltaengine.net/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LogServiceSoap12" type="tns:LogServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Log">
      <soap12:operation soapAction="http://log.deltaengine.net/Log" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogService">
    <wsdl:port name="LogServiceSoap" binding="tns:LogServiceSoap">
      <soap:address location="http://localhost:6150/LogService.asmx" />
    </wsdl:port>
    <wsdl:port name="LogServiceSoap12" binding="tns:LogServiceSoap12">
      <soap12:address location="http://localhost:6150/LogService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>